.tips {
	counter-reset: tips;
}
.tip {
	counter-increment: tips;
	display: grid;
	grid-template-columns: 4ch 1fr;
	gap: 0;
	padding-block: 2em;
	font-size: medium;

	border-bottom: 1px solid grey;

	&::before {
		content: "0" counter(tips) / "";
		color: darkslategrey;
		font-variant-numeric: tabular-nums;
		text-align: center;
	}
}
